extends layout

block content
  h1= 'Charity Backend'
  p Welcome to Charity Backend
  ul
    li
      a(href='/users') Users
    li
      a(href='/comments') Comments
    li 
      a(href='/messages') Messages
    li 
      a(href='/faqs') FAQ
    li
      a(href='/footers') Footer
    li
      a(href='/medias') Medias
    li
      a(href='/notifications') Notifications
    li
      a(href='/staticpage') Static Pages
    li
      a(href='/donations') Donations
    li
      a(href='/news') News
    li
      a(href='/emaillist') Email List


